
button {
    margin: 120px 30px;
    border-style: none;
    padding: 60px 90px;
    font-weight: bold;
    font-size: 22px;
}

.game-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 90vh;
    width: 100vw;

}

.score-container {
    display: flex;
    justify-content: space-around;
}

.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#displayBox {
    font-size: 40px;
}